<a href="https://colab.research.google.com/github/abhi19061991/assignments/blob/main/dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel("/content/drive/MyDrive/practise/DATA.xlsx")

In [4]:
df

,field_name,field_type,field_description,GROUP_IDENTIFICATION
0,MRTINTCODE,SC2 011,ACTUAL INTEREST RATES,000-099
1,MRTGROUP,SC2 025,FIXED OR CONTRACTUAL INTEREST,100-199
2,MCVINTEREST,SC4 012,FIXED AND CONTRACTUAL,200-299
3,MGCOPT,SC1 107,VALUES WAITING TO BE DECLARED AND APPLIED,300-399

In [9]:
mrtintcode = "MRTINTCODE"
result = '-'.join([mrtintcode[i:i+3] for i in range(0, len(mrtintcode), 3)])
print(result)

MRT-INT-COD-E

In [11]:
df['field_name']=df['field_name'].apply(lambda x:result)

In [12]:
df

,field_name,field_type,field_description,GROUP_IDENTIFICATION
0,MRT-INT-COD-E,SC2 011,ACTUAL INTEREST RATES,000-099
1,MRT-INT-COD-E,SC2 025,FIXED OR CONTRACTUAL INTEREST,100-199
2,MRT-INT-COD-E,SC4 012,FIXED AND CONTRACTUAL,200-299
3,MRT-INT-COD-E,SC1 107,VALUES WAITING TO BE DECLARED AND APPLIED,300-399

In [13]:
df['field_type']=df['field_type'].replace('SC2 011','x2')

In [15]:
df['field_type']=df['field_type'].replace('SC2 025','s9(3)')

In [16]:
df['field_type']=df['field_type'].replace('SC4 012','s9(2)v9(2)')

In [19]:
df['field_type']=df['field_type'].replace('SC1 107','X(1')

In [20]:
df

,field_name,field_type,field_description,GROUP_IDENTIFICATION
0,MRT-INT-COD-E,x2,ACTUAL INTEREST RATES,000-099
1,MRT-INT-COD-E,s9(3),FIXED OR CONTRACTUAL INTEREST,100-199
2,MRT-INT-COD-E,s9(2)v9(2),FIXED AND CONTRACTUAL,200-299
3,MRT-INT-COD-E,X(1,VALUES WAITING TO BE DECLARED AND APPLIED,300-399

In [27]:
numbers={'000-099':1,'100-199':2,'200-299':3,'300-399':4}

In [28]:
df['GROUP_IDENTIFICATION']=df['GROUP_IDENTIFICATION'].map(numbers)

In [29]:
df

,field_name,field_type,field_description,GROUP_IDENTIFICATION
0,MRT-INT-COD-E,x2,ACTUAL INTEREST RATES,1
1,MRT-INT-COD-E,s9(3),FIXED OR CONTRACTUAL INTEREST,2
2,MRT-INT-COD-E,s9(2)v9(2),FIXED AND CONTRACTUAL,3
3,MRT-INT-COD-E,X(1,VALUES WAITING TO BE DECLARED AND APPLIED,4