In [1]:
import spacy 
from spacy import displacy

In [2]:
nlp = spacy.load("en_core_web_sm")

In [6]:
import pandas as pd

In [4]:
#taking random small text
text = "Apple acquired Zoom in China on Wednesday 6th May 2020.\
This news has made Apple and Google stock jump by 5% on Dow Jones Index in the \
United States of America"

In [7]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)
    
df = pd.DataFrame({'Entities':entities,'Labels':labels,'Position_Start':position_start, 'Position_End':position_end})

df

                             Entities   Labels  Position_Start  Position_End
0                             (Apple)      ORG               0             5
1                              (Zoom)      ORG              15            19
2                             (China)      GPE              23            28
3                    (Wednesday, 6th)     DATE              32            45
4                             (Apple)      ORG              74            79
5                              (5, %)  PERCENT             105           107
6                 (Dow, Jones, Index)      ORG             111           126
7  (the, United, States, of, America)      GPE             130           158